OPEN_ROUTER_URL="https://openrouter.ai/api/v1"
OPEN_ROUTER_KEY=my_open_router_key
OPEN_AI_KEY=my_open_ai_key

POSTGRES_DB=krdom
POSTGRES_USER=my_postgres_username
POSTGRES_PASSWORD=my_postgres_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_PASSWORD=my_redis_password

ENABLE_TELEGRAM=true
TELEGRAM_BOT_TOKEN=my_telegram_bot_toker
NAME_BOT=https://t.me/MyNameBot

ENABLE_LLM_ANALYSIS=fals