<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{{ report.header.title }}</title>
    <link rel="stylesheet" href="report.css"/>
</head>
<body>

<!-- Header -->
<header class="header">
    <h1>{{ report.header.title }}</h1>
    <div class="meta">
        <span>Дата: {{ report.header.generated_at.strftime('%d.%m.%Y %H:%M') }}</span>
        {% if report.header.username %}
        <span>Расчёт: {{ report.header.username }}</span>
        {% endif %}
    </div>
</header>

<!-- Summary -->
<section class="section">
    <h2>Итоги</h2>
    <h3>Материалы</h3>
    <table class="summary-table">
        <tr>
            <th>Объём пиломатериала, м³</th>
            <td>{{ report.summary.volume_without_waste_m3 }} м³</td>
        </tr>
        <tr>
            <th>Объём пиломатериала с отходами, м³</th>
            <td>{{ report.summary.volume_with_waste_m3 }} м³</td>
        </tr>
        <tr>
            <th>Объём отходов, м³</th>
            <td>{{ report.summary.waste_volume_m3 }} м³</td>
        </tr>
        <tr>
            <th>Коэффициент отходов, %</th>
            <td>{{ report.summary.waste_factor }}</td>
        </tr>
        <tr>
            <th>Объём утеплителя, м³</th>
            <td>{{ report.summary.total_volume_insulation }} м³</td>
        </tr>
    </table>
    <h3>Кровля</h3>
    <table class="summary-table">
        <tr>
            <th>Площадь кровли, м³</th>
            <td>{{ report.summary.total_roof_area }} м²</td>
        </tr>
        <tr>
            <th>Площадь свесов, м²</th>
            <td>{{ report.summary.total_overhang_area }} м²</td>
        </tr>
        <tr>
            <th>Периметр кровли, м</th>
            <td>{{ report.summary.total_roof_perimeter }} м</td>
        </tr>
        <tr>
            <th>Длина конька, м</th>
            <td>{{ report.summary.total_length_ridge }} м</td>
        </tr>
        <tr>
            <th>Длина торцов, м</th>
            <td>{{ report.summary.total_length_gable }} м</td>
        </tr>
        <tr>
            <th>Длина карнизов, м</th>
            <td>{{ report.summary.total_length_eave }} м</td>
        </tr>
    </table>
    <h3>Площади</h3>
    <table class="summary-table">
        <tr>
            <th>Площадь наружных стен, м³</th>
            <td>{{ report.summary.total_external_walls_area }} м²</td>
        </tr>
        <tr>
            <th>Площадь внутренних стен, м²</th>
            <td>{{ report.summary.total_internal_walls_area }} м²</td>
        </tr>
        <tr>
            <th>Площадь потолков, м³</th>
            <td>{{ report.summary.total_ceilings_area }} м²</td>
        </tr>
        <tr>
            <th>Площадь полов, м²</th>
            <td>{{ report.summary.total_floors_area }} м²</td>
        </tr>
        <tr>
            <th>Площадь поверхности пиломатериала, м²</th>
            <td>{{ report.summary.total_usable_area_of_board }} м²</td>
        </tr>
    </table>
</section>

<!-- Section totals -->
<section class="section">
    <h2>Сводка по типоразмерам</h2>
    <div class="table">
        <div class="tbody">
            <div class="row header">
                <div class="cell col-section">Типоразмер</div>
                <div class="cell col-lm">Длина, м</div>
                <div class="cell col-lm-waste">Длина с отходами, м</div>
                <div class="cell col-volume">Объем, м³</div>
            </div>

            {% for row in report.section_totals %}
            <div class="row">
                <div class="cell col-section">{{ row.section_id }}</div>
                <div class="cell col-lm">{{ "%.2f"|format(row.lm) }}</div>
                <div class="cell col-lm-waste">{{ "%.2f"|format(row.lm_with_waste) }}</div>
                <div class="cell col-volume">{{ "%.3f"|format(row.volume_m3) }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Groups -->
<section class="section">
    <h2>Сводка по группам конструкций</h2>

    {% for group in report.groups %}
    <h3>{{ group.group }}</h3>

    <div class="table">
        <div class="row header">
            <div class="cell col-section">Типоразмер</div>
            <div class="cell col-lm">Длина, м</div>
            <div class="cell col-lm-waste">Длина с отходами, м</div>
            <div class="cell col-volume">Объем, м³</div>
        </div>

        {% for s in group.sections %}
        <div class="row">
            <div class="cell col-section">{{ s.section_id }}</div>
            <div class="cell col-lm">{{ "%.2f"|format(s.lm) }}</div>
            <div class="cell col-lm-waste">{{ "%.2f"|format(s.lm_with_waste) }}</div>
            <div class="cell col-volume">{{ "%.3f"|format(s.volume_m3) }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

</section>

<!-- Materials -->
<section class="section">
    <h2>Таблица материалов</h2>
    <div class="table">
        <div class="row header">
            <div class="cell col-section">Типоразмер</div>
            <div class="cell col-lm">Сечение (ТхШ), мм</div>
            <div class="cell col-lm-waste">Длина, мм</div>
            <div class="cell col-volume">Тип, стандарт</div>
        </div>

        {% for m in report.materials %}
        <div class="row">
            <div class="cell col-section">{{ m.section_id }}</div>
            <div class="cell col-lm">{{ m.width_mm }} × {{ m.height_mm }}</div>
            <div class="cell col-lm-waste">{{ m.length_mm if m.length_mm is not none else "—" }}</div>
            <div class="cell col-volume">{{ m.kind }}</div>
        </div>
        {% endfor %}
    </div>

</section>

</body>
</html>
